<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burger!</title>
    {{!-- favicon --}}
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/ico">
   {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery.js"></script>
   {{!-- materialize --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {{!-- google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
    {{!-- local script for ajax calls --}}
    <script src="/assets/js/burgers.js"></script>
    {{!-- local css file --}}
    <link rel="stylesheet" type="text/css" href="/assets/css/burgerStyle.css">
</head>
<body>
    {{{body}}}
</body>
</html>