<div class="container">
    {{!-- title --}}
    <div class="row">
        <div class="col s8">
            <h3>Burger!</h3>
        </div>
    </div>
    {{!-- instructions --}}
    <div class="row">
        <div class="col s8">
            <h4 class="sub-title">Click on a burger to devour it or add your own 🍔</h4>
        </div>
    </div>
    {{!-- burgers --}}
    <div class="row">
        <div class="col s5">
            <h4>Burgers to be devoured</h4>
            {{#each customers}}
            {{#each this.dataValues.Burgers}}
            {{#unless this.dataValues.devoured}}
                <button class="undevoured waves-effect waves-light btn-small" data-id='{{this.id}}' data-devoured='{{this.devoured}}'>{{this.burger_name}}</button>
            {{/unless}}
            {{/each}}
            {{/each}}
        </div>
        <div class="col s5">
            <h4>Devoured Burgers</h4>
            {{#each customers}}
            {{#each this.dataValues.Burgers}}
            {{#if this.dataValues.devoured}}
                <p class='devoured' data-customerid={{this.CustomerId}} data-id='{{this.id}}' data-devoured='{{this.devoured}}'>{{this.burger_name}} devoured by {{../dataValues.name}}</p>
            {{/if}}
            {{/each}}
            {{/each}}
        </div>
    </div>
    {{!-- form --}}
    <div class="row">
        <div class="col s10">
            <h5>Add a Customer:</h5>
                <form id="add-customer">
                    <div class="row">
                        <div class="col s3">
                            <textarea placeholder="Your name" id="customer" class="materialize-textarea" type='text' name="newCustomer"></textarea>
                            <button class="waves-effect waves-light btn-small" type="submit">Add Name</button>
                        </div>
                    </div>
                </form>
            <h5>Add a Burger:</h5>
                <form id="add-burger">
                    <div class="row">
                        <div class="col s8">
                            <div class="row">
                                <div class="col s4">
                                    <textarea placeholder="Burger name" id="burger" class="materialize-textarea" type='text' name="newBurger"></textarea>
                                    <button class="waves-effect waves-light btn-small" type="submit">Add burger</button>
                                </div>
                                <div class="col s2">
                                <label>Order for:</label>
                                <select id="customerId" class="browser-default">
                                    {{#each customers}}
                                    <option value="{{this.dataValues.id}}">{{this.dataValues.name}}</option>
                                    {{/each}}
                                </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>            
        </div>
    </div>
</div>