body {
    color: #f5f5f5;
    background-image: url(../img/burger.jpg);
    background-size: cover;
    background-color: #fdd835;
    font-family: 'Exo', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

h5 {
    margin-top: 3rem;
}

.sub-title {
    font-size: 2.2rem;
}

p {
    font-size: 1.1rem;
    color: #fdd835;
}

/* button style */
.btn-small {
    margin: .6rem .6rem .6rem 0;
    background-color: #c62828;
}

.btn-small:hover {
    background-color: #ef5350;
    color: #212121;
}

/* input style */
textarea,
textarea::placeholder,
label {
    color: #f5f5f5;
    font-family: 'Exo', sans-serif;
}

select {
    height: 1.75rem;
}